<!--어드민 카테고관리-->
<!-- adminCateManage.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main/admin.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/main/vot.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/asset/bootstrap-4.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/asset/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/asset/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/admin/admin_cate.js}"></script>
</head>

<body class="">
	<div id="header"></div>
	<div id="side"></div>
	<div id="mainPage">
		<div id="sidete"></div>
		
		<div class="wrapDiv">
			<div id="leftDiv" class="leftDiv">
				<table class="titleTab">
					<tr>
						<th>상품코드</th>
						<th>상품명</th>
					</tr>
				</table>
				<div id="leftContWrap">
					
				</div>
			</div>
			
			<div id="rightDiv" class="rightDiv">
				<div class="topDiv">
					<div class="cateCdTitle">
						<a class="cateCdTitle">상품코드</a>
						<input class="cateCd" type="text" id="cateCd" name="cateCd" value="" readonly="readonly"/>
					</div>
				</div>
				<div class="middleDiv">
					<a>상품명</a>
					<input class="cateNm" type="text" id="cateNm" name="cateNm" value=""/>
					<button type="button" id="cateNmSubmit" class="cateNmSubmit">생성</button>
				</div>
				<div class="bottomDiv">
					<button type="button" id="delCateSubmit" class="delCateSubmit">삭제</button>
				</div>
			</div>
		
		</div>
	</div>
</body>

</html>