<!--어드민 조직관리-->
<!-- adminGroupManage.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body class="">
	<div id="header"></div>
	<div id="side"></div>
	<div id="mainPage">
		<div id="sidete"></div>

		<div class="wrapDiv">
			<div id="leftDiv" class="contentDiv">
				<div class="topContWrap">
					<span class="grp_cd_span">상품코드</span>
					<span id="grp_nm_span">상품명</span>
				</div>
				<div class="mainWrap" id="leftContWrap" >
				</div>
				<button type="button" id="newCodeSubmit" class="btn btn-danger newCodeSubmit">신규등록</button>
			</div>

			<div id="rightDiv" class="contentDiv">
				<div class="topContWrap">
					<span class="grp_cd_span span_title" id="right_grp_cd_span">상품코드</span>
					<span class="grp_cd_span_value value grp_cd_span" id="right_grp_cd_value"></span>
				</div>
				<div id="rightMainWrap">
					<span id="main_span">상품명</span>
					<input class="downGroupCd" type="text" id="downGroupCd" name="downGroupCd" value="" />
				</div>
				
				<div id="righBtmWrap">
					<button type="button" id="insertCodeSubmit" class="btn btn-danger ">생성</button>
					<button type="button" id="delCodeSubmit" class="btn btn-danger ">삭제</button>
				</div>
			</div>

		</div>
	</div>

	<meta charset="UTF-8">
	<link th:href="@{css/main/cate.css}" rel="stylesheet" type="text/css">
	<link th:href="@{asset/bootstrap-4.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{asset/jquery-3.4.1.min.js}"></script>
	<script th:src="@{asset/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{js/main/cate.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</body>

</html>