<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body class="">
	<div id="header"></div>
	<div id="side"></div>
	<div id="mainPage">
		<div id="mainSidete"></div>
		<div id="detail_title">
			<h1>투표개설</h1>
		</div>
		<div id="createvot_form">
			<div id="detail_top">
				<div class="createvot_content">
					<span class="span_content">투표ID</span>
					<span class="span_content" id="award_id_value"></span>
					<span class="span_content" id="award_type_span">투표유형</span>
					<select id="vot_type_select" class="vot_select">
						<option value="VOT">어워드</option>
						<!--<option value="survey">설문조사</option>-->
					</select>
				</div>
				<div class="createvot_content">
					<span class="span_content" id="award_grp_target">투표항목(최종)</span>
					<select id="vot_grp_select" class="vot_select">
						<option value="0">========</option>
					</select>
				</div>
				<div class="createvot_content">
					<span class="span_content" id="award_grp_target">투표권한</span>
					<select id="vot_grp_choice_select" class="vot_select">
						<option value="fail">투표항목과 동일</option>
					</select>
				</div>
				<div class="createvot_content">
					<span class="span_content">투표명</span>
					<input type="text" class="vot_select" id="vot_name_text">
				</div>
				<div class="createvot_content" id="awad_info_text">
					<span class="span_content" id="award_info_text">설명</span>
					<textarea id="info_text"></textarea>
				</div>

			</div>

			<div id="detail_mid">
				<div class="createvot_content">
					<span class="span_content">투표기간</span>
					<input type="text" class="datetimepicker1 vot_select" id="vot_start_date">
					<i class="fas fa-calendar-check fa-lg icon_date" id="start_icon"></i>
					<span class="span_content" style="text-decoration: none;" id="date_"> ~ </span>
					<input type="text" class="datetimepicker2 vot_select" id="vot_end_date">
					<i class="fas fa-calendar-check fa-lg icon_date" id="end_icon"></i>
				</div>
				<div class="createvot_content" id="award_data">
					<span class="span_content" id="award_member_choices">투표대상자</span>
					<div id="award_data_change" class="award_data_change">
					</div>
					<div id="award_data_change1" class="award_data_change" style="display: none; overflow: scroll;">
						<button id="servey_list_insert" class="btn btn-danger" type="button">+</button>
						<span class="span_content" id="servey_span">항목추가</span>
						<input type="text" id="survey_list"><button id="servey_list_del" class="btn btn-danger"
							type="button">-</button>
					</div>

				</div>
				<div class="createvot_content" id="award_detail_bottom">
					<span class="span_content" id="award_mms1">투표 대상자에 알림 보내기</span>
					<input type="checkbox" id="start_mms" disabled>
					<span class="span_content" id="award_mms2">투표만료 전 미투표자 알림 보내기</span>
					<input type="checkbox" id="end_mms" disabled>
				</div>
				<div id="create_vot" class="form-button btn btn-danger margin-b">투표 개설</div>
			</div>

		</div>


		<meta charset="UTF-8">
		<link th:href="@{css/main/votCreate.css}" rel="stylesheet" type="text/css">
		<link th:href="@{asset/bootstrap-4.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
		<script th:src="@{asset/jquery-3.4.1.min.js}"></script>
		<script th:src="@{asset/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
		<script th:src="@{js/main/votCreate.js}"></script>

		<!-- datetimepicker -->
		<link rel="stylesheet" href="//cdn.rawgit.com/xdan/datetimepicker/master/jquery.datetimepicker.css">
		<script th:src="@{asset/jquery.datetimepicker.full.min.js}"></script>



		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
			integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</body>

</html>