<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{css/main/votDetail.css}" rel="stylesheet" type="text/css">
	<link th:href="@{asset/bootstrap-4.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{asset/jquery-3.4.1.min.js}"></script>
	<script th:src="@{asset/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{js/main/votDetail.js}"></script>
</head>

<body class="">
	<div id="header"></div>
	<div id="side"></div>
	<div id="mainPage">
		<div id="sidete"></div>
		<div id="detail_title"><h1>투표정보</h1></div>
		<div id="detail_top">
			<div id="detail_top_left">
				<div id ="detail_stats" class="detail_top_left_content">
					<span id="span_stats" class="span_content">상태</span>
					<span id="span_stats_value" class="span_content">진행중</span>
				</div>
				<div id ="detail_stats">
					<span id="span_award_id" class="span_content">투표ID</span>
					<span id="span_award_id_value" class="span_content">220124-01</span>
				</div>
				<div id ="detail_stats">
					<span id="span_award_final" class="span_content">투표대상(최종)</span>
				</div>
			</div>
			<div id="detail_top_right">
				<div id ="detail_stats" class="detail_top_right_content">
				</div>
				<div id ="detail_stats">
					<span id="span_vot_type" class="span_content">투표유형</span>
					<span id="span_vot_type_value" class="span_content">어워드</span>
				</div>
				<div id ="detail_stats">
					<span id="span_award_final" class="span_content">투표대상(최종)</span>
				</div>
			</div>
		</div>
		<div id="detail_mid">
			<div class="detail_mid_content" id="detail_mid_name">
				<span id="detail_mid_span">투표명</span>
				<input type="text" id="detail_grp">
			</div>
			<div class="detail_mid_content" id="detail_mid_text">
				<span id="detail_vot_text_span">설명</span>
				<textarea id="detail_vot_text"></textarea>
			</div>
			<div class="detail_mid_content" id="detail_mid_name">
				<span id="detail_mid_span">투표기간</span>
				<input type="date" id="detail_date_min">
				<span> ~ </span>
				<input type="date" id="detail_date_max">
			</div>
			<div class="detail_mid_content" id="detail_mid_text">
				<span id="detail_vot_member_span">투표항목</span>
				<div id="bot_member"></div>
			</div>
			<div class="detail_btm_content" id="detail_btm_text">
				<span id="detail_vot_votin_span">투표현황</span>
				<span id="in_member">3</span><span> / </span><span>5</span><span>(한동희)</span>
			</div>
			<div id="chart">
				<div class="pie-chart1" id="pieChart"></div>
				<div class="chart_stats" id="person_info">
					<div id="person_color"></div> 
					<span id="person_stats">한동희(33.3% 2p)</span>
				</div>
			</div>
		</div>
		<div id="detail_buttom">
			<button id="vot_end" class="form-button btn-danger margin-b">마감</button>
			<button id="vot_update" class="form-button btn-danger margin-b">수정</button>
			<button id="vot_delete" class="form-button btn-danger margin-b">삭제</button>
			
		</div>
	</div>
</body>

</html>