<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{css/main/voteCompensationList.css}" rel="stylesheet" type="text/css">
	<link th:href="@{asset/bootstrap-4.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{asset/jquery-3.4.1.min.js}"></script>
	<script th:src="@{asset/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{js/main/voteCompensationList.js}"></script>
</head>

<body class="">
	<div id="header"></div>
	<div id="side"></div>
	<div id="mainPage">
		<div id="sidete"></div>
		<table id="listForm" border="1">
			<tr style="height: 15px;">
				<th style="text-align: center;" class="th firstTh">ID</th>
				<th style="text-align: center;" class="th">투표명</th>
				<th style="text-align: center;" class="th">게시자</th>
				<th style="text-align: center;" class="th">기간</th>
				<th style="text-align: center;" class="th">상태</th>
				<th style="text-align: center;" class="th">참여자</th>
				<th style="text-align: center;" class="th">결과</th>
				<th style="text-align: center;" class="th lastTh">투표</th>
			</tr>
			<tr id="award_list">
				<td class="firstTd">하하</td>
				<td>키키</td>
				<td>코코</td>
				<td>쿠쿠</td>
				<td>비비</td>
				<td>야식</td>
				<td>뭐먹</td>
				<td class="lastTd">모름</td>
			</tr>
			<tr id="award_list">
				<td class="firstTd">하하</td>
				<td>키키</td>
				<td>코코</td>
				<td>쿠쿠</td>
				<td>비비</td>
				<td>야식</td>
				<td>뭐먹</td>
				<td class="lastTd">모름</td>
				
			</tr>

		</table>

	</div>
</body>

</html>