<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body class="">
	<div id="header"></div>
	<div id="side"></div>
	<div id="mainPage">
		<div id="sidete"></div>
		<table id="listForm">
			<tr>
				<th style="text-align: center;" class="th firstTh">ID</th>
				<th style="text-align: center;" class="th">투표명</th>
				<th style="text-align: center;" class="th">게시자</th>
				<th style="text-align: center;" class="th">기간</th>
				<th style="text-align: center;" class="th">상태</th>
				<th style="text-align: center;" class="th">참여자</th>
				<th style="text-align: center;" class="th">결과</th>
				<th style="text-align: center;" class="th lastTh">투표</th>
			</tr>
		</table>
		<div id="paging" class="paging-div">
			<ul class="pagination" id="pagination">
			</ul>
		</div>

	</div>

	<meta charset="UTF-8">
	<link th:href="@{css/main/voteCompensationList.css}" rel="stylesheet" type="text/css">
	<link th:href="@{asset/bootstrap-4.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{asset/jquery-3.4.1.min.js}"></script>
	<script th:src="@{asset/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{js/main/voteCompensationList.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	
	<!--paging-->
	<script th:src="@{asset/twbsPagination.js}"></script>
</body>

</html>