<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
	<div id="header"></div>
	<div class="signUpAuthForm">
		<div class="signUpForm">
			<h1 id="title">ZW 회원가입 인증 페이지</h1>
			<h2 id="title">확인버튼을 누르시면 회원가입이 완료 됩니다</h2>
			<button type="button" id="signUpAuthSubmit" class="btn btn-danger">확인</button>
		</div>
	</div>
	<meta charset="UTF-8">
	<link href="/css/member/signUpAuth.css" rel="stylesheet" type="text/css">
	<link href="/asset/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="/asset/jquery-3.4.1.min.js"></script>
	<script src="/asset/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
	<script src="/js/member/signUpAuth.js"></script>
</body>