html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

#header{
	width:100%;
	height:10%;
	display: inline-block;
	z-index: 1;	
}

.hr{
	width: 33%;
	height: 10px;
	border: none;
	background-color: #114495;
	position: absolute;
	margin:0 0 0 0;
}
#red{
	background-color: #E8485B;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
}

#img{
	width:13%;
	height:100%;
	background: url("../../img/zinnaworks-logo.png");
	background-size: contain;	
}

#logo{
	width:22%;
	height: 5%;
	position: absolute;
	left: 14%;
	top: 0%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 46px;
}

.menuVar{
	position: absolute;
	top: 0%;
	width: 13%;
	height: 10%;
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;
	color: blue;
}

.menuVar:hover{
	color:red;
}

#home{
	left: 33%;
	text-align: center;
}
#voting{
	left: 46%;
	text-align: center;
}
#admin{
	left: 59%;
	display: block;
	text-align: center;
}
#profile{
	left:72%;
	text-align: center;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	width: 280px;
}
#checkLogin{
	left:88%;
	text-align: center;
}
.check{
	font-size: 20px;
	text-align: center;
	color: grey;
	float: left;
	margin: 10px 20px 0 0;
}
/* top css 옵션 끝 */

/* nav css 옵션 시작 */

#nav{
	width:100%;
	height:20%;
	position: absolute;
	top:110px;
	
}
.navTitle{
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 5px 20px;
}

#awardTitle{
	position: absolute;
	top:20px;
}


#historyTitle{
	position: absolute;
}

.hrNav{
	width: 37%;
	height: 10px;
	border: none;
	margin:0 0 5px 20px;
}
#redNav{
	background-color: #E8485B;
	position: absolute;
	top: 35px;
}

#blueNav{
	background-color: #114495;
	position: absolute;
	top: 53px;
}

#awardList{
	margin: 70px 20px 0 20px;
	width: 100%;
	height: 90%;
	position: relative;
}

#divList{
	width: 570px;
	background-color: lightgray;
	font-size: 19px;
	margin: 0 30px 15px 0;
	position: relative;
	float: left;
}
#awardList_top{
	padding: 10px 0 0 15px;
}

.AL{
	width: 100%;
	height: 70px;
	text-align: center;
}

.middle{
	width: 35%;
	height: 100%;
	float: left;
	text-align: right;
	position: relative;
	left:50px;
}
#award-date{
	padding: 0 50px 0 0px;
	top: -10px;
}
#award-person{
	padding: 15px 50px 15px 15px;
	top: -10px;
	left: 120px;
}
.bottom-btn{
	width: 260px;
	height: 60%;
}
#awardGo{
	position: relative;
	margin:5px 0 0 0;
	font-size: 17px;
	border-radius: 12px;
	float: left;
	left : 10px;
	background-color: #114495;
	border-color: #114495;
}
#awardDetail{
	position: relative;
	margin: 5px 0 0 35px;
	font-size: 17px;
	border-radius: 12px;
	background-color: #114495;
	border-color: #114495;
	right: 10px;
}
#awardSuccess{
	position: relative;
	margin:5px 0 0 0;
	font-size: 17px;
	border-radius: 12px;
	float: left;
	left : 10px;
}
/* nav css 옵션 끝 */

/* footer css 옵션 시작 */

#footer{
	width: 100%;
	height: 50%;
	position: relative;
	top:280px;
}
#historyList{
	width: 100%;
	height: 38%;
	margin: 45px 0 0 20px;
	position: relative;
	padding: 10px;
}

.historyList{
	padding: 15px;
	height: 380px;
	left: -10px;
	top:50px;
}

#historyList_top{
	height: 20%;
}
.his_top_title{
	font-size: 20px;
	margin: 0 0 10px 0;
}

#historyList_mid{
	height: 60%;
	width: 60%;
	margin:50px 0 0 110px;
	background-size: contain;
	text-align: center;
}


#newAwardList{
	position: absolute;
	left: 78%;
	font-size: 20px;
	top:290px;
	
}
#clickText{
	position: relative;
	float: left;
	margin: 0 5px 0 0;
}

#historyBtn{
	position: relative;
	width: 23%;
	font-size: 20px;
	border-radius: 10px;
	left: 37%;
	top: 50px;
	background-color: #114495;
	border-color: #114495;
}

#paging{
	position: absolute;
	font-size: 20px;
	top: 92%;
	left: 42%;
}


