html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

#header{
	width:100%;
	height:10%;
	display: inline-block;
	z-index: 1;	
	background-color: white;
}

.hr{
	width: 33%;
	height: 10px;
	border: none;
	background-color: #114495;
	position: absolute;
	margin:0 0 0 0;
}
#red{
	background-color: #E8485B;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
}

#img{
	width:13%;
	height:100%;
	background: url("../../img/zinnaworks-logo.png");
	background-size: cover;	
}

#logo{
	width:22%;
	height: 5%;
	position: absolute;
	left: 14%;
	top: 0%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 46px;
}

.menuVar{
	position: absolute;
	top: 0%;
	width: 13%;
	height: 10%;
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;
	color: blue;
}

.menuVar:hover{
	color:red;
}

#home{
	left: 33%;
	text-align: center;
}
#voting{
	left: 46%;
	text-align: center;
}
#admin{
	left: 59%;
	display: block;
	text-align: center;
}
#profile{
	left:72%;
	text-align: center;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	width: 280px;
}
#checkLogin{
	left:88%;
	text-align: center;
}
.check{
	font-size: 20px;
	text-align: center;
	color: grey;
	float: left;
	margin: 10px 20px 0 0px;
}
/* top css 옵션 끝 */


/*side start */

#side{
	position: relative;
	width: 350px;
	height: 90%;
	background-color: lightgray;
	top: 15px;
}
#sideBar{
	width: 345px;
	height: 100%;
}

#sideMenu{
	height: 45%;
	width: 90%;
	margin: 0 0 0 17.5px;
	background-color: white;
	text-align: center;
	padding: 25px 0 0 0;
}

.sideLink{
	font-size: 20px;
}

.sideBar_link{
	text-align: center;
	margin-top: 20px;
}

#sidete{
	position: absolute;
	width: 100%;
	height: 15px;
	background-color: lightgray;
	top: 0px;
	left: 0px;
}

#mainSidete{
	position: absolute;
	width: 100%;
	height: 15px;
	background-color: lightgray;
	top: 0px;
	left: 0px;
}


/* main page */

#mainPage{
	width: 85%;
	height: 90%;
	position: absolute;
	left: 350px;
	top: 114px;
}

#createvot_form{
	width: 1180px;
	height: 750px;
	position: relative;
	left: 200px;
}

#detail_title{
	position: relative;
	left: 655px;
	margin: 50px 0 20px 0px;
	width: 7%;
	text-align: center;
}


#detail_top{
	position: relative;
	width: 55%;
	height: 50%;
	left: 180px;
}

.createvot_content{
	position: relative;
	width: 100%;
	height: 15%;
	
}

#detail_mid{
	position: relative;
	width: 55%;
	height: 50%;
	left: 180px;
	top:-40px;
}

#awad_info_text{
	position: relative;
	height: 30%;
	width: 100%;
}

.span_content{
	position: relative;
	margin : 30px;
	text-decoration: underline;
	font-size: 17px;
	top: 15px;	
}

.vot_select{
	position: relative;
	height: 30px;
	top: 15px;
	width: 180px;
	left: 71px;
	text-align: center;
	font-size: 15px;
}

#date_{
	left: 66px;
}

.icon_date{
	position: absolute;
	top:30px;
}

#start_icon{
	left:340px;
}

#end_icon{
	left:608px;
}

#award_id_value{
	color: lightgray;
	text-decoration: none;
}
#award_type_span{
	left: 50px;
}
#vot_grp_select{
	width: 445px;
	left: 20px;
}

#vot_grp_choice_select{
	width: 445px;
    left: 61px;
}
#vot_name_text{
	width: 445px;
    left: 77px;
    text-align: start;
}
#award_info_text{
	top: -50px;
}
#info_text{
	position: relative;
	height: 100%;
	width: 445px;
	left: 92px;
	font-size: 15px;
}

#vot_min_date{
	width: 210px;
	left: 0px;
	font-size: 13.5px;
    text-align: center;
}
#vot_max_date{
	width: 210px;
	left: 0px;
	font-size: 13.5px;
    text-align: center;
}
#award_data{
	height: 50%;
}
.award_data_change{
	position: relative;
	width: 75%;
	height: 99%;
	border: 1px solid black;
	left:145px;
	top: -27px;
	font-size: 17px;
	overflow: scroll;
}

#member{
	position: relative;
	width: 120px;
	float: left;
}
#check_name{
	margin: 15px 10px 15px 20px;
}
#check_input{
	position: relative;
	top: 5px; 
	width: 25px;
	height: 25px;
}
#award_detail_bottom{
	height: 25%;
}
#award_mms1{
	left: 0px;
	top: 0px;
}
#award_mms2{
	left: -268px;
    top: 40px;
}

#start_mms{
	top: 5px;
	left: 49px;
	position: relative;
	width: 25px;
	height: 25px;
}

#end_mms{
	top: 45px;
	left: 287px;
	position: absolute;
	width: 25px;
	height: 25px;
}
#create_vot{
	position: relative;
	width: 200px;
	left: 235px;
	font-size: 15px;
	background-color: #E8485B;	
}
#survey_list{
	position: relative;
	margin: 3px;
	width: 99%;
}
#servey_list_del{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	padding: inherit;
	font-size: 30px; 
	left: 440px;
	top: 5px;
	z-index: 1;
}
#servey_list_insert{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	padding: inherit;
	font-size: 30px; 
	left: -100px;
	top: 170px;
}

#servey_span{
	left: -150px;
	top: 105px;
	text-decoration: none;
	color: lightgray;
	position: absolute;
	
}
#award_member_choices{
	top:70px;
}


#vot_type_select{
	width: 160px;
	left: 91px;
}

#vot_start_date{
	left:62px;
}