html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

#header{
	width:100%;
	height:10%;
	display: inline-block;
	z-index: 1;	
}

.hr{
	width: 33%;
	height: 10px;
	border: none;
	background-color: #114495;
	position: absolute;
	margin:0 0 0 0;
}
#red{
	background-color: #E8485B;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
}

#img{
	width:13%;
	height:100%;
	background: url("../../img/zinnaworks-logo.png");
	background-size: cover;	
}

#logo{
	width:22%;
	height: 5%;
	position: absolute;
	left: 14%;
	top: 0%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 46px;
}

.menuVar{
	position: absolute;
	top: 0%;
	width: 13%;
	height: 10%;
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;
	color: blue;
}

.menuVar:hover{
	color:red;
}

#home{
	left: 33%;
	text-align: center;
}
#voting{
	left: 46%;
	text-align: center;
}
#admin{
	left: 59%;
	display: block;
	text-align: center;
}
#profile{
	left:72%;
	text-align: center;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	width: 280px;
	
}
#checkLogin{
	left:88%;
	text-align: center;
}
.check{
	font-size: 20px;
	text-align: center;
	color: grey;
	float: left;
	margin: 10px 20px 0 0;
}
/* top css 옵션 끝 */


/*side start */

#side{
	position: relative;
	width: 350px;
	height: 90%;
	background-color: lightgray;
	top: 15px;
}
#sideBar{
	width: 345px;
	height: 100%;
}

#sideMenu{
	height: 45%;
	width: 90%;
	margin: 0 0 0 17.5px;
	background-color: white;
	text-align: center;
	padding: 25px 0 0 0;
}

.sideLink{
	font-size: 20px;
}

.sideBar_link{
	text-align: center;
	margin-top: 20px;
}

#sidete{
	position: absolute;
	width: 100%;
	height: 15px;
	background-color: lightgray;
	top: 0px;
	left: 0px;
}

/* main page */

#mainPage{
	width: 85%;
	height: 100%;
	position: absolute;
	left: 350px;
	top: 114px;
}

#createvot_form{
	width: 1180px;
	height: 750px;
	position: relative;
	left: 200px;
	top: -40px;
}

#detail_title{
	position: relative;
	left: 655px;
	margin: 80px 0 20px 0px;
	width: 7%;
	text-align: center;
	top: -30px;
}

.award_btn{
	width: 20%;
	margin: 0 10px 0 10px;
}

#award_end, #award_update, #award_delete {
	font-size: 15px;
}


#award_update{
	margin-left: 130px;
}
#award_end{
	margin-left: 35px;
}


#detail_top{
	position: relative;
	width: 55%;
	height: 50%;
	border: 1px solid black;
	left: 180px;
}

.createvot_content{
	position: relative;
	width: 100%;
	height: 10%;
	border: 1px solid red;
	
}

#detail_mid{
	position: relative;
	width: 55%;
	height: 50%;
	border: 1px solid green;
	left: 180px;
}

#awad_info_text{
	position: relative;
	height: 20%;
	width: 100%;
	border: 1px solid red;
}

.span_content{
	position: relative;
	margin : 30px;
	text-decoration: underline;
	font-size: 17px;
	top: 5px;	
}
#award_stats_value{
	color: red;
	text-decoration: none;
}

#award_type{
	left: 30px;
}
#mms_input{
	position: relative;
	left: -40px;
    top: 2px;
}

#award_type_value{
	color: lightgray;
	text-decoration: none;
	left: 60px;
}

#award_id_value{
	color: lightgray;
	text-decoration: none;
	left: -17px;
}

#award_grp_target_value{
	text-decoration: none;
	color: lightgray;
	left: 60px;
}

#award_name_value{
	position: relative;
	left: 4px;
	top: 2px;
	width: 480px;
	text-decoration: none;
	margin: 0;
}




#award_type_span{
	left: 50px;
}
#vot_grp_select{
	left: 10px;
}
#vot_name_text{
	width: 508px;
	left: 10px;
}
#award_info_text{
	top: -30px;
}
#info_text{
	position: relative;
	height: 100%;
	width: 74.5%;
	left: 18px;
	font-size: 18px;
}

#vot_min_date{
	width: 190px;
	position: relative;
	top: 15px;
	height: 30px;
	font-size: 20px;
	text-align: center;
}
#vot_max_date{
	width: 190px;
	position: relative;
	top: 15px;
	height: 30px;
	font-size: 20px;
	text-align: center;
}

#award_data{
	height: 30%;
}

#award_data_change{
	width: 70%;
	height: 100%;
	position: relative;
	left: 143px;
	top: -30px;
	border: 1px solid lightgray;
	font-size: 17px;
	overflow: scroll;
}

#check_name{
	padding: 14px;
}
.check_box{
	position: relative;
	top: 5px; 
	width: 25px;
	height: 25px;
}

#vot_member{
	text-decoration: none;
	color: red;
	margin: 0;
}
#un_vot_member{
	text-decoration: none;
	margin: 0;
}
#choice_member{
	text-decoration: none;
	margin: 0;
}


#span_vot_type_value{
	top: 55px;
	right: 100px;
}
#detail_mid{
	position: relative;
	width: 55%;
	height: 55%;
	border: 1px solid black;
	left: 180px;
}
.detail_mid_content{
	width: 100%;
	font-size: 20px;
}
#detail_mid_name{
	height: 10%;
	border: 1px solid black;
}
#detail_grp{
	height: 100%;
	width: 80%;
	position: relative;
	right: -60px;
	
}
#detail_grp_span{
	text-decoration: underline;
}
#detail_mid_text{
	height: 15%;
}
#detail_vot_text_span{
	position: relative;
	top: -40px;
	text-decoration: underline;
}
#detail_vot_text{
	height: 100%;
	width: 80%;
	position: relative;
	right: -69px;
}
#bot_member{
	width: 80%;
	height: 100%;
	border: 1px solid black;
	position: relative;
	left: 135px;
	overflow-y: scroll;
}
#detail_vot_member_span{
	position: absolute;
	left: 30px;
	top: 240px;
	text-decoration: underline;
}
.detail_btm_content{
	width: 100%;
	font-size: 20px;
}

#detail_vot_votin_span{
	margin: 10px 40px 0 30px;
}

#in_member{
	color: red;
}

#chart{
	position: initial;
	height: 50%;
}

.pie-chart1 {
  width: 150px;
  height: 150px;
  background: conic-gradient(#8b22ff 0% 25%, #ffc33b 25% 56%, #21f3d6 56% 100%);
  border-radius: 50%;
  position: relative;
  left: 110px;
}

.chart_stats{
	position: relative;
	width: 100%;
	height: 32px;
	border: 1px solid red;
	padding: 5px 0 5px 5px;
	font-size: 15px;
}

#person_color{
	width: 20px;
	height: 20px;
	position: absolute;
	border: 1px solid green;
}
#person_stats{
	position: relative;
	right: 170px;
}

#vot_info_mms_span{
	position: relative;
	left: -22px;
	top:-5px;
}

#detail_buttom{
	position: relative;
	width: 55%;
	height: 10%;
	border: 1px solid green;
	left: 180px;
}


#vot_end{
	left:10px;
	width: 120px;
	position: absolute;
}

#vot_update{
	left: 300px;
	width: 120px;
	position: absolute;
}

#vot_delete{
	left: 450px;
	width: 120px;
	position: absolute;
}

.vot_select{
	position: relative;
	height: 30px;
	top: 15px;
	width: 180px;
	left: 10px;
	text-align: center;
	font-size: 15px;
}

#date_{
	left: 10px;
}

.icon_date{
	position: absolute;
	top:30px;
}

#start_icon{
	left:290px;
}

#end_icon{
	left:570px;
}

#member{
	position: relative;
	width: 110px;
	float: left;
	color: lightgray;
}

#myChart{
	margin: 10px 0 0 40px;
	float: left;
	
}

#chartData{    
	position: relative;
    width: 50%;
    left: 323px;
}

