html {
    height: 90%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #eeeeee;
}

#header{
	width:100%;
	height:10%;
	display: inline-block;
	z-index: 1;
}

.headerLine{
	position: relative;
}

.hr{
	width: 33%;
	height: 10px;
	border: none;
	background-color: #114495;
	position: absolute;
	margin:0 0 0 0;
}
#red{
	background-color: #E8485B;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
}

#img{
	width:13%;
	height:88px;
	background: url("../../img/zinnaworks-logo.png");
	background-size: cover;	
}

#logo{
	width:22%;
	height: 5%;
	position: absolute;
	left: 14%;
	top: 0%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 46px;
}

.menuVar{
	position: absolute;
	top: 0%;
	width: 13%;
	height: 10%;
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;
	color: blue;
}

.menuVar:hover{
	color:red;
}

#home{
	left: 33%;
	text-align: center;
}
#voting{
	left: 46%;
	text-align: center;
}
#admin{
	left: 59%;
	display: block;
	text-align: center;
}
#profile{
	left:72%;
	text-align: center;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	width: 280px;
}
#checkLogin{
	left:88%;
	text-align: center;
}
.check{
	font-size: 20px;
	text-align: center;
	color: grey;
	float: left;
	margin: 10px 10px 0 10px;
	text-decoration: underline;
}
/* top css 옵션 끝 */

#title{
	margin: 0 0 60px 0;
	font-weight: bold;
}
.signUpForm{
	position: relative;
	font-size: 20px;
	width: 100%;
	height: 100%;
	top: -4px;
}

#signUpContent{
	width: 40%;
	height: 40%;
	position: relative;
	left: 35%;
	top: 150px;
}

.inputForm{
	position: relative;
	margin:10px 0 10px 0;
	width: 100%;
	display: inline-block;
	font-size: 20px;
}

#userId{
	width: 30%;
	margin-left: 70px;
	display: inline-block;
	font-size: 15px;
}
#idTitle{
	 margin-left: 135px;
	 
}
#passwd{
	width: 50%;
	margin-left: 50px;
	display: inline-block;
	font-size: 15px;
}

#loginSubmit{
	width: 28%;
	margin:40px 0 0 140px;
	font-size: 15px;
}

.labelForm{
	text-align: left;
	display: inline-block;
}
#btmText{
	margin-left: 135px;
}